body {
    background: #eee;
}

.page {
    height: 2000px;
    height: 300vh;
    height: calc(var(--vh, 1vh) * 300);
}

.scroller {
    width: 36px;
    height: 36px;

    left: calc(50% - 18px);
    transform: translateX(-50%);
    top: 30px;
    position: fixed;

    animation: up-down 1.2s infinite ease-in;

    opacity: 0.5;

    z-index: 9999;
}

@keyframes up-down {
    from {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    to {
        transform: translateY(-10px);
    }
}

.block {
    position: absolute;

    display: block;

    will-change: transform;
}

.blocks_transition .block {
    transition: transform 1.5s;
}

.blocks {
    padding: 0 5px;
    max-width: 400px;
    width: calc(100% - 10px);
    height: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.blue-1 {
    transform: translate(0, 0);
    
    z-index: 1200;
}

.blue-2 {
    transform: translate(50px, 180px);

    z-index: 100;
}

.blue-3 {
    transform: translate(50px, 320px);

    z-index: 10;
}

.white-1 {
    transform: translate(100px, 0);

    z-index: 1002;
}

.white-2 {
    transform: translate(150px, 180px);

    z-index: 101;
}

.white-3 {
    transform: translate(150px, 321px);

    z-index: 11;
}

.green-1 {
    transform: translate(200px, 0);

    z-index: 1001;
}

.green-2 {
    transform: translate(250px, 180px);

    z-index: 102;
}

.green-3 {
    transform: translate(250px, 319px);

    z-index: 11;
}

@media screen and (max-width: 415px) {
    .block {
        zoom: 0.775;
    }

    .blocks {
        height: 340px;
        max-width: 320px;
    }
}
